@charset 'utf-8';

body
{
    font-family: 'Myriad Pro', sans-serif;
    line-height: 1.5;
    font-size: 1 em;
    
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
}

.header
{
    position: static;
    z-index: 2;

    height: auto;

    text-align: center;
}
a
{
    text-decoration: none;
}

a img
{
    text-decoration: none;

    border: none;
}

.menu p
{
    text-align: center;
}

.menu
{
    position: relative;

    overflow: hidden;

    box-sizing: border-box;
    margin: 1% auto;

    list-style-type: none;
}

.menu ul
{
    position: relative;
    left: 50%;

    float: left;

    margin: 0;
    padding: 0;

    list-style: none;
}

.menu li
{
    font-size: 2.5em;

    position: relative;
    left: -50%;

    float: left;

    padding: 5px 30px;

    color: rgb(204, 204, 204);
}

.menu li > a
{
    text-decoration: none;

    color: rgb(204, 204, 204);
    border-color: rgb(255, 255, 255);
}


.cont
{
    width: 70%;
    margin: 3% auto;
}

@media  (max-width: 600px)
{
    .header,
    .menu
    {
        font-size: 1.2 em;

        text-align: center;
    }
    .menu li{
        font-size: 1.3em;
    }
}